.post{
    
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    
}
.post > #post-ln{
    text-decoration: none;
    color: var(--text-color);
}
.post:hover{
    background-color: var(--border-color);
}
.post > a >  img{
    
    max-height: 540px;
    width: 100%;
    border-radius: 20px;
    
}