.post{
    
    padding: 20px;
    border-radius: 20px;
    width: 100%;
}
.post:hover{
    background-color: var(--border-color);
}
.post>h1{
    
}
.post>h1{
    
}
.post > img{
    
    max-height: 540px;
    width: 100%;
    border-radius: 20px;
    display: inline;
}