.side-bar{

    color: var(--text-color);
    width: var(--side-bar-width);
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    border-right: var(--border-with) var(--border-color) solid;
    
    padding: var(--side-bar-padding);
}
.community-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    list-style-type: none;
    
}
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.community-name{
    font-size: var(--text-size);
}
.community-container{
    color: var(--text-color);
    display: flex;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    align-items: center;
}
.community-container:hover{
    background-color: var(--border-color);
    border-radius: 10px;
}