@page
@model Identityserver.Pages.Account.Signup.Index

<div class="login-box">
    <h2>Signup</h2>
                
    <div nonce="nonce" id="image" class="avatar"></div>
    <div class="labelAvatar">
        Browse Photo
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form form asp-page="/Account/Signup/Index" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Input.ReturnUrl"/>
        <div class="user-box">
            <span asp-validation-for="Input.Email" class="error-msg"></span>
            <input asp-for="Input.Email" type="email" required autofocus>
            <label asp-for="Input.Email"></label>
        </div>
        <div class="user-box">
            <span asp-validation-for="Input.Username" class="error-msg"></span>
            <input asp-for="Input.Username" required autofocus>
            <label asp-for="Input.Username"></label>
        </div>
        <div class="user-box">
            <span asp-validation-for="Input.Password" class="error-msg"></span>
            <input type="password" required asp-for="Input.Password" autocomplete="off">
            <label asp-for="Input.Password"></label>
        </div>
        <div class="user-box">
            <input id="filehidden" required type="file" class="hidden"  accept=".jpg, .jpeg, .png, .webp"  asp-for="Input.File">
        </div>
        <button class="btn" name="Input.Button" >Signup</button>
    </form>
</div>
@section scripts {
    <script type="text/javascript" nonce="nonce">
        $(document).ready(function() {
            const fileDataURL = file => new Promise((resolve,reject) => {
                                    let fr = new FileReader();
                                    fr.onload = () => resolve( fr.result);
                                    fr.onerror = reject;
                                    fr.readAsDataURL( file)
                                });
            $(".labelAvatar").click(function() {
                $("input.hidden").click();
            });
            $("input.hidden").change((e) => {
                        fileDataURL( $("input.hidden")[0].files[0])
                        .then( data => {$(".avatar")[0].style.backgroundImage = `url('${data}')`})
                        .catch(err => console.log(err));
                })
       
        });
    </script>
}
        
       
    