body{
    background-color: var(--background-color);
}
:root{
    --text-color: white;
    --text-size: 15px;
    --border-color: #747474;
    --border-with: 1px;
    --background-color: #010024;
    --btn-color : #50506d;
    --header-height: 60px;
    --side-bar-width: 250px;
    --side-bar-padding: 10px;
    --content-side-padding:  10px;
}
.main-container{
    display: flex;
    position: relative;
    height: calc(100vh);
    top: var(--header-height);
    justify-content: space-between;
    
    
}
.side-bar-wr{
    width: var(--side-bar-width);
    height: calc(100vh - var(--header-height));
}